@import "tailwindcss";

:root {
  --background: #131313;
  --primary-container: #ff6600;
  --secondary-container: #ff45a2;
  --tertiary: #cdcd00;
  --on-surface: #e5e2e1;
  --on-surface-variant: #e3bfb1;
  --outline-variant: #5a4136;
}

@theme inline {
  --color-background: var(--background);
  --color-primary-container: var(--primary-container);
  --color-secondary-container: var(--secondary-container);
  --color-tertiary: var(--tertiary);
  --color-on-surface: var(--on-surface);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-outline-variant: var(--outline-variant);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
